# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binaries
*.exe
*.dll

# Compiled AngelScript modules
*.bin

# Misc dump files
*.bin.readme.txt
*.log.txt

physics-rigid-bodies/effects/readme.txt
physics-rigid-bodies/entities/normalmaps/readme.txt
physics-rigid-bodies/entities/readme.txt
physics-rigid-bodies/particles/readme.txt
physics-rigid-bodies/scenes/readme.txt

global-scale/effects/readme.txt
global-scale/entities/normalmaps/readme.txt
global-scale/entities/readme.txt
global-scale/particles/readme.txt
global-scale/scenes/readme.txt