# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binaries
*.exe
*.dll

# Compiled AngelScript modules
*.bin

# Misc dump files
*.bin.readme.txt
*.log.txt

.DS_Store

eth_util.angelscript

*/effects/readme.txt
*/entities/normalmaps/readme.txt
*/entities/readme.txt
*/particles/readme.txt
*/scenes/readme.txt
*/soundfx/readme.txt
